.form-control {
    outline: none;
	border-width: 0 0 2px;
	border-color: #EAEAEA;
	display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
	background: transparent;
}
.form-control:focus {
  border-color: green;
  border-width: 0 0 2px;
  box-shadow: none;
}
.logo-icon{
    width: 100px;
    height: 100px;
}
.text-center{
    text-align: center;
}
.card-header{
    background-color: #ffffff;
}

.signupLink{
    color: #83559D;
    font-weight: 600;
    cursor: pointer;
}
.card{
    border-radius: 5px !important;
}
.btn.disabled:hover, .btn:disabled:hover {
    color: #fff !important;
}