<div class="container-fluid">
  <ol class="breadcrumb"><li class="breadcrumb-item"> 
    <h4>SETTING</h4>
  </li></ol>
  <table    class="table table-bordered" id="example">
    <thead   >
      <tr   >
        <th   >Name :</th>
        <th   >Standard UOM</th>
        <th   >Other UOM</th>
        <th   >Conversion Factor</th>
      </tr>
    </thead>
    <tbody   >
      <tr   >
        <td   >Height :</td>
        <td   >cm</td>
        <td   >Ft,in</td>
        <td   >0.0328084(Multiply)</td>
      </tr>
      <tr   >
        <td   >Body Weight :</td>
        <td   >kg</td><td   >ibs</td>
        
        <td   >2.20462(Multiply)</td>
      </tr>
      <tr   ><td   >Heart Rate :</td>
        <td   >bpm</td><td   >bpm</td>
        <td   >N/A</td></tr><tr   >
          <td   >Blood Pressure :</td>
          <td   >mmHg</td><td   >kpa</td>
          <td   >*** 0.13332(Multiply)</td>
        </tr>
        <tr   >
          <td   >Body Mass Index(BMI) :</td>
          <td   >kg/m2</td><td   >kg/m2</td>
          <td   >** 0.204816(Multiply)</td>
        </tr>
        <tr   >
          <td   >Basic Metabolic Rate(BMR) :</td>
          <td   >kcal</td><td   >kcal</td>
          <td   >kcal</td>
        </tr>
        <tr   ><td   >Visceral Fat :</td>
          <td   >%</td>
          <td   >fl oz</td>
          <td   >N/A</td>
        </tr><tr   >
          <td   >Body Water :</td>
          <td   >it</td>
          <td   >ibs</td>
          <td   >33.814(Multiply)</td>
        </tr>
        <tr   >
          <td   >Muscles Mass :</td>
          <td   >kg</td><td   >years</td>
          <td   >2.20462(multiply)</td>
        </tr>
        <tr   >
          <td   >Metabolic Age :</td>
          <td   >years</td>
          <td   >Avg steps/Day</td>
          <td   >N/A</td>
        </tr>
        <tr   >
          <td   >Avarage Steps Taken :</td>
          <td   >Avg steps/Day</td>
          <td   >Avg steps/Day</td>
          <td   >N/A</td>
        </tr>
        <tr   >
          <td   >Distance :</td>
          <td   >km</td>
          <td   >miles</td>
          <td   >0.621371 (multiply)</td>
        </tr>
        <tr   >
          <td   >SPO2 :</td>
          <td   >%</td>
          <td   >%</td>
          <td   >N/A</td>
        </tr>
        <tr   >
          <td   >Sugar - Fasting Blood Sugar :</td>
          <td   >mmol/L</td>
          <td   >mg/dl</td>
          <td   >0.0555</td>
        </tr>
        <tr   >
          <td   >Sugar - HBA1C* :</td>
          <td   >mmol/L</td>
          <td   >%</td>
          <td   >N/A</td>
        </tr>
        <tr   >
          <td   >HDL Cholesterol * :</td>
          <td   >mmol/L</td>
          <td   >mg/dl</td>
          <td   >0.259 (divide)</td>
        </tr>
        <tr   >
          <td   >LDL Cholesterol * :</td>
          <td   >mmol/L</td>
          <td   >mg/dl</td>
          <td   >0.259 (divide)</td>
        </tr>
        <tr   >
          <td   >Total - HBA1C* :</td>
          <td   >km</td>
          <td   >mg/dl</td>
          <td   >0.259 (divide)</td>
        </tr>
        <tr   ><td   >Waist Hip Ratio * :</td>
          <td   ></td>
          <td   ></td>
          <td   > &lt; 0.9 (Male)</td>
        </tr>
        <tr   ><td   ></td><td   ></td><td   ></td><td   > &gt; 0.85 (Female)</td></tr>
      </tbody></table></div>

      <p class="ml-3">Weight (ib)/ [height (in) 2x] 703</p>
      <p class="ml-3">Calculate BMI by dividing weight in pounds (ibs) by height in inches(in) squared and multiplying by a conversion factor of 703</p>
        <p class="ml-3"><b>Example:</b> Weight 150 ibs, Height = 5'5''(65"") Calculate [150 + (65)2]* 703= 23.46</p>