.nav-content-inner {
  background-color: #414e58;
}
.navbar {
  padding: 1.5rem 1rem;
}
.logo {
  color: #ffffff !important;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 48px;
}
.navbar-custom {
  background: #83559D !important;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px;
  /* margin-left: 250px; */
  min-height: 50px;
}
.avatar{
  width: 30px;
}
.avatar-circle {
  border-radius: 50%;
}
.avatar-rounded {
  border-radius: 50%;
}
.btn.focus, .btn:focus{
  box-shadow: none;
}





.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #883997;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
